@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 240, 240, 240;
}

@media (prefers-color-scheme: dark) {
  /*bias toward browser*/

  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0;
  }
}

body {
  /* color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb)); */
  color: #333;
  background-color: #f5f5f5;
}

.dark body {
  color: #f5f5f5;
  background-color: #0e0e0e;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}